
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600;900&display=swap');

.grid {
    display: grid;
    width: 100%;
    height: 100%;
    background: red;
}

:root {
    --g1: rgb(98, 0, 234);
    --g2: rgb(236, 64, 122);
}

.background {
    animation: background-pan 10s linear infinite;
    background: linear-gradient(
      to right,
      var(--g1),
      var(--g2),
      var(--g1)
    );
    background-size: 200%;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

::ng-deep #tiles {
    height: calc(100vh - 1px);
    width: calc(100vw - 1px);
    position: relative;
    z-index: 2;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

::ng-deep .tile {
    cursor: pointer;
    position: relative;
}

::ng-deep .tile:hover:before {
    background-color: rgb(30, 30, 30);
}

::ng-deep .tile:before {
    background-color: rgb(15, 15, 15);
    content: "";
    inset: 0.5px;
    position: absolute;
}

#title {
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 6vw;
    margin: 0px;
    pointer-events: none;
    transition: opacity 1200ms ease;
    width: 50vw;
    z-index: 3;
}

#title > .fancy {
    color: var(--g2);
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    line-height: 0.9em;
}

#icon {
    color: rgba(255, 255, 255, 0.15);
    font-size: 80vmin;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1200ms ease;
    z-index: 1;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "about_me about_me"
        "contact_me interests"
        "contact_me interests";
    
    width: 32%;
    height: 65%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 3200ms ease;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #00000060;

    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 24px;
    color: white;
}
  
.about_me {
    grid-area: about_me;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    // font-style: normal;
    // font-stretch: normal;
    // line-height: initial;
    font-size: 64px;
    color: white;
}

.contact_me {
    grid-area: contact_me;
}

.interests {
    grid-area: interests;
}

.in_progress {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 5vh;
    margin: 40px;
    opacity: 0;
    transition: opacity 3200ms ease;
}
  
